div#case-cards-wrapper {
    padding: 10px 5px;
    height: calc(100vh - 50px);
}

div#case-cards {
    grid-area: cases;
    margin-bottom: 45px;
}

div.case-card {
    margin: 0 5px 10px 5px;
    font-size: 15px;
    width: 420px;
    height: 450px;
    border: solid 1px black;
    display: inline-grid;
    padding: 0 15px;
    grid-template-rows: 60px minmax(100px, auto) 1fr auto;
    grid-template-areas: "header""body""footer";
    position: relative;
}

div.case-card.case-inactive {
    opacity: 0.5;
}

div.case-card.case-closed {
    border-color: green;
}

div.case-card.case-md {
    border-color: red;
}

div.case-card.code-red {
    background-color: rgba(136, 0, 0, 0.418);
}

div.case-card div.case-card-header {
    font-size: 23px;
    font-weight: bold;
    display: grid;
    grid-template-columns: 1fr 1em 3em;
    grid-template-rows: repeat(2, 1fr);
    padding: 5px 0;
    grid-area: header;
}

div.case-card div.case-card-header div.case-number,
div.case-card div.case-card-header div.case-time {
    text-align: right;
}

div.case-card div.case-card-header div.case-time,
div.case-card div.case-card-header div.case-system {
    font-size: 13px;
}

div.case-card div.case-card-header div.case-system>span:first-child {
    cursor: pointer;
}

div.case-card div.case-card-header div.case-system>span:first-child:hover {
    color: var(--theme-fg-hover);
}

div.case-card div.case-card-header div.case-system>span:first-child.system-note {
    text-decoration: underline;
}

div.case-card div.case-card-body {
    grid-area: body;
}

div.case-card div.case-card-body div.rat-row {
    display: grid;
    grid-template-columns: 60% repeat(4, 1fr);
    grid-gap: 2px;
}

div.case-card button.btn-auto-spatch {
    background-color: #0000;
    border: solid 1px var(--theme-border-colour);
    color: var(--theme-fg);
    cursor: pointer;
    height: 2em;
    margin: 2px 1px -1px 1px;
    text-transform: uppercase;
    font-weight: bold;
}

div.case-card button.btn-auto-spatch:hover {
    background-color: var(--theme-bg-hover-alt);
    color: var(--theme-fg-hover-alt);
}

div.case-card div.case-card-body div.rat-row div.rat-status-undefined {
    display: none;
}

div.case-card div.case-card-body div.rat-row div.rat-status-true {
    color: green;
}

div.case-card div.case-card-body div.rat-row div.rat-status-false {
    color: red;
}

div.case-card div.case-card-footer {
    grid-area: footer;
    overflow: auto;
    padding-bottom: 10px;
    white-space: normal;
}

div.case-card div.case-card-footer div.chat-row>span:nth-child(2) {
    word-break: break-word;
}

div.case-time {
    text-align: right;
}

div.case-card div.case-card-header div.case-language:not(.language-EN) {
    color: red;
}

div.case-card div.case-card-header div.case-number.platform-XB {
    color: green;
}

div.case-card div.case-card-header div.case-number.platform-PS4 {
    color: #3737ac;
}

div.case-card div.case-card-header div.case-number.platform-PC {
    color: orange;
}

div.case-card.case-unread,
div.case-card.code-red.case-unread,
div.case-card.case-inactive.case-unread,
div.case-card.code-red.case-inactive.case-unread {
    background-color: #003d15ab;
}

div.case-card.code-red.case-unread::before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-top: 50px solid rgba(180, 0, 0, 0.39);
    border-right: 50px solid transparent;
    z-index: 1;
}