@import "https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap";

:root {
    --chat-height: 30vh;
}

body {
    background-color: #0f0f0f;
    color: #9e9e9e;
    font-family: 'Roboto Condensed',
        sans-serif;
}

a,
a:visited,
a:hover {
    color: #eba91c;
}

div#root {
    /* width: 100vw; */
}

#root>div#chat {
    position: fixed;
    left: 0;
    right: -20px;
    top: 75vh;
    bottom: 0;
    padding: 0 0 10px 0;
    background-color: #0f0f0f;
    z-index: 10;
    border-top: solid 1px black;
}

div#chat>span#chatToggle {
    position: fixed;
    right: 30px;
    bottom: 15px;
    cursor: pointer;
}

table.chatLog {
    font-size: 15px;
}

table.chatLog tr td {
    vertical-align: top;
}

table.chatLog tr>td:nth-child(2) {
    width: 15em;
    text-align: right;
    padding-right: 15px;
}

table.chatLog tr>td:nth-child(3) {
    word-break: break-word;
}

div#errors {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    padding: 0 20px;
    text-align: left;
    z-index: 10;
    background: #0f0f0f;
}

div#errors div.error {
    padding: 5px;
    color: red;
}

a#bugreport {
    position: fixed;
    bottom: 15px;
    right: 120px;
    z-index: 15;
}