@import "https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap";

:root {
    --chat-height: 30vh;
    --theme-bg: #0f0f0f;
    --theme-bg-light: #2e2e2e;
    --theme-fg: #9e9e9e;
    --theme-fg-light: #dadada;
    --theme-fg-hover: #eba91c;
    --theme-fg-error: red;
    --theme-border-colour: black;
    --theme-bg-hover-alt: var(--theme-fg-hover);
    --theme-fg-hover-alt: black;

    --z-chat: 2;
    --z-bugreport: 3;
    --z-mecha-down-notif: 3;
    --z-options: 4;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
        "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--theme-bg);
    color: var(--theme-fg);
    font-family: "Roboto Condensed", sans-serif;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

a,
a:visited,
a:hover {
    color: var(--theme-fg-hover);
}

#root > div#chat {
    position: fixed;
    left: 0;
    right: -20px;
    top: calc(100vh - 45px);
    bottom: 0;
    padding: 0 0 10px 0;
    background-color: var(--theme-bg);
    z-index: var(--z-chat);
    border-top: solid 1px var(--theme-border-colour);
}

div#chat > span#chatToggle {
    position: fixed;
    right: 30px;
    bottom: 15px;
    cursor: pointer;
}

table.chatLog {
    font-size: 15px;
}

table.chatLog tr td {
    vertical-align: top;
}

table.chatLog tr > td:nth-child(2) {
    width: 15em;
    text-align: right;
    padding-right: 15px;
}

table.chatLog tr > td:nth-child(3) {
    word-break: break-word;
}

a#bugreport {
    position: fixed;
    bottom: 15px;
    right: 120px;
    z-index: var(--z-bugreport);
}

div#dispatchSearch {
    position: fixed;
    display: grid;
    top: 5vh;
    width: 100vw;
    place-items: center;
    z-index: var(--z-search);
}

div#dispatchSearch > input {
    width: 650px;
    border: solid 1px var(--theme-border-colour);
    background-color: var(--theme-bg-light);
    font-size: 34px;
    padding: 5px;
    color: var(--theme-fg);
}

div#dispatchSearch > section {
    width: 650px;
    margin: 0;
    padding: 0;
    list-style: none;
    max-height: 60vh;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

div#dispatchSearch > section > a {
    padding: 10px;
    background-color: var(--theme-bg-light);
    color: var(--theme-fg);
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: pointer;
    text-decoration: none;
}

div#dispatchSearch > section > a:hover,
div#dispatchSearch > section > a:focus {
    color: var(--theme-fg-hover);
    text-decoration: none;
}

div#dispatchSearch > section > a > span {
    padding-left: 2ch;
}

@media screen and (max-width: 700px) {
    div#dispatchSearch > input,
    div#dispatchSearch > section {
        width: 80vw;
    }
}

div#options {
    position: fixed;
    top: 5vh;
    width: 580px;
    height: auto;
    left: calc(calc(100vw - 580px) / 2);
    display: block;
    border: solid 1px var(--theme-border-colour);
    background-color: var(--theme-bg-light);
    z-index: var(--z-options);
    padding: 1em 2em;
    overflow-y: auto;
}

div#mechaDownNotif {
    position: fixed;
    right: 20px;
    top: 20px;
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    z-index: var(--z-mecha-down-notif);
    animation-name: tick;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes tick {
    0% {
        background-color: red;
    }

    50% {
        background-color: #000;
    }

    100% {
        background-color: red;
    }
}
